name: 2. Build & Release
run-name: "2. [${{ github.ref_name }}] - ${{ github.event.head_commit.message }}"
on:
  push:
    branches:
      - '*-release'
    paths:
      - 'src/**'
      - 'gradle.properties'
      - 'build.gradle'
      - 'settings.gradle'
      - '.github/workflows/2-build-release.yml'
      - '*CHANGELOG.md'
      - 'dependencies.yml'
    

jobs:
  release:
    if: ${{ ! contains(github.event.head_commit.message, '[SKIP-RELEASE]') }}
    uses: XxInvictus/mc_universal_workflow/.github/workflows/reusable-release.yml@main
    secrets: inherit
    with:
      project-root: .
      gradle-args: build
      runs-on: ubuntu-latest

      # Optional publishing (requires secrets/vars in the consumer repo)
      publish-github: true
      publish-modrinth: true
      modrinth-id: ${{ vars.MODRINTH_PROJECT_ID }}
      publish-curseforge: true
      curseforge-id: ${{ vars.CURSEFORGE_PROJECT_ID }}
